@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #481E14;
    --primary-color: #ffffff;
    --secondary-color: #F2613F;
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
}

/* c贸digo omitido */

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

/* c贸digo omitido */

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}

/* c贸digo omitido */

h1 {
    font-size: 2rem;
    color: var(--bg-color);
     font-weight: 700;
}

/* c贸digo omitido */

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}
